.flight-offers{
    padding-top: 124px;
    padding-bottom: 124px;
    width: 100%;
}

.flight-offers-container{
    margin: 0 auto;
}

.flight-offers-inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flight-offers-heading{
    width:100%;
    margin-bottom: 40px;
    text-align: center;
}

.flight-offers-heading h2{
    color: #231f20;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 14px;
}

.flight-offers-heading hr{
    color: orange;
    width: 50px;
    border: 1.5px solid;
    margin: 0px auto;
}


.flight-offers-items{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flight-offers-item{
    box-sizing: border-box;
    width: 30%;
    margin: 15px 15px;
    transition: 0.4s;

}

.flight-offers-item-hover
{
    transform: translateY(-20px);
    box-shadow: 1px 1px 5px gray;
}

.flight-offers-item-link{
    display: block;
    text-decoration: none;
    width: 100%;
    border: 1px solid #e6e7e8;
}

.flight-offers-item-image{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.flight-offers-item-info{
    width: 100%;
}

.flight-offers-item-title{
    width:100%;
    background: orange;
    padding: 15px 20px 15px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.flight-offers-item-title h3
{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3em;
    font-family: 'Merriweather', serif;
}

.flight-item-destination{
    text-transform: capitalize;
    position: relative;
    margin: 0;
    margin-right: 10px;
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 500;
}

.flight-item-ways{
    text-transform: uppercase;
    position: relative;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 500;
}

.flight-offers-item-timings
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ededee;
    color: #6d6e71;
    font-weight: 400;
    line-height: 1.5;
}

.flight-departure-time{
    width: 50%;
    margin: 0;
    padding: 10px 5px 12px;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 400;
    border-right: 1px solid #dedfe0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flight-timing-icon{
    margin: 0;
    margin-right: 10px;
}

.flight-arrival-time{
    width: 50%;
    margin: 0;
    padding: 10px 5px 12px;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 400;
}

.flight-offers-item-price-ratings
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 14px 15px 11px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.flight-offers-item-price-ratings p
{
    margin: 0;
    font-size: 22px;
}

.f-i-p{
    position: relative;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.flight-rating-icon
{
    color: orange;
}

.flight-offers-view-all{
    margin-top: 80px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.flight-offers-link-view-all {
    padding: 10px 50px;
    color: white;
    background: orange;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



@media screen and (min-width:1200px)
{
    .flight-offers-container{
        max-width: 1140px;
    }

}

@media screen and (max-width:1199px) and (min-width:992px)
{
    .flight-offers-container{
        max-width: 960px;
    }

    .flight-departure-time{
        width: auto;
        border: none;
    }

    .flight-arrival-time{
        width: auto
    }
    .flight-offers-item-price-ratings
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (max-width:991px) and (min-width:768px)
{
    .flight-offers-container{
        max-width: 720px;
    }

    .flight-offers-item
    {
        width: 45%;
    }
}

@media screen and (max-width:767px) and (min-width:576px)
{
    .flight-offers-container{
        max-width: 540px;
    }

    .flight-offers-item
    {
        width: 95%;
    }
}

@media screen and (max-width:575px)
{
    .flight-offers-container{font-family: 'Lato', sans-serif;
        max-width: 95%;
    }

    .flight-offers-item
    {
        width: 95%;
    }
}