.flight-search-page-main{
    width: 100%;
    box-sizing: border-box;
}

.flight-search-page-top-bar{
    width: 100%;
    background-color:#2276e3;
    margin: 0;
}

.flight-search-page-desktop-searchbar{
    display: none;
    margin: 0 auto;
}

.flight-search-page-flight-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 15px;
    padding-top: 30px;
}

.flight-search-page-mobile-displaybar{
    display: none;
    margin: 0 auto;
}

.flight-search-page-fliter-and-flight-details{
    width: 100%;
    background-color: #e1e7ee;
}

.flight-search-page-fliter-and-flight-details-container{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.flight-search-page-mobile-filter{
    display: none;
}

.input-field1{
    background-color: #175abf;
    color: #fff;
    display: block;
    padding: 10px;
    padding-left: 25px;
    max-width: 100%;
    margin: 0;
    border-width: 0;
    border-radius: 2px;
    height: 40px;
}

.flight-no-of-adults1{
    background-color: #175abf;
    color: #fff;
    display: block;
    width: 100%;
    outline: none;
    border-width: 0px;
    border-radius: 2px;
    appearance: none;
    padding: 10px;
}


@media screen and (min-width:1200px)
{
    .flight-search-page-desktop-searchbar{
        display: block;
    }

    .flight-search-page-desktop-searchbar{
        width: 1140px;
    }

    .flight-search-page-flight-src-and-dest{
        flex:0 0 33%;
        max-width: 33%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .flight-search-page-flight-source{
        flex:0 0 46%;
        max-width: 46%;
        margin-right: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-destination{
        flex:0 0 46%;
        max-width: 46%;
        margin-left: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-check-in-out{
        flex:0 0 33%;
        max-width: 33%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .flight-search-page-flight-check-in{
        flex:0 0 46%;
        max-width: 46%;
        margin-right: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-check-out{
        flex:0 0 46%;
        max-width: 46%;
        margin-left: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-adults{
        flex:0 0 16%;
        max-width: 16%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .flight-search-page-flight-adults-counts{
        flex:0 0 96%;
        max-width: 96%;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-submit{
        flex:0 0 16%;
        max-width: 16%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;   
    }

    .flight-search-page-flight-submit-button
    {
        flex:0 0 96%;
        max-width: 96%;
        appearance: none;
        background: none;
        height: 40px;
        position: relative;
        background-color: #175abf;
        color: #fff;
        border-width: 0px;
    }

    .flight-search-page-search-bars-icon{
        color: black;
        position: absolute;
        left:6px;
        top:12px;
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .flight-search-page-search-bars-icon1{
        color: black;
        position: absolute;
        right:6px;
        top:12px;
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }
    .flight-search-page-desktop-filter
    {
        flex:0 0 22%;
        max-width: 22%;

    }

    .flight-search-page-flight-details{
        flex:0 0 75%;
        max-width: 75%;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .flight-search-page-flights-sort-options{
        width:100%;
        max-width: 830px;
        margin: 10px;
        margin-top: 0px;
        margin-left: 0px;
        background-color: white;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight-search-page-flights-sort-names{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .flight-search-page-flights-sort-names p{
        font-size: 14px;
        font-weight: lighter;
    }

    .flight-search-page-flights-sort-options-all{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-sort-option-1{
        width:30%;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-2{
        width:40%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-3{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-4{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights{
        width:100%;
        max-width: 830px;
        margin: 20px;
        margin-left: 0px;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .flight-search-page-flights-flight-logo-name-number{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


    .flight-search-page-flights-flight-logo img{
        width:45px;
        height: 45px;
        margin: 10px;
        margin-right: 20px;
    }

    .flight-search-page-flights-flight-name-number p{
        font-size: 14px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .flight-search-page-flights-flight-name-number p:first-of-type{
        font-weight: bold;
    }

    .flight-search-page-flights-flight-dep-dur-arr{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-flight-departure{
        width:30%;
        text-align: center;
    }

    .flight-search-page-flights-flight-departure p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-departure p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-arrival{
        width:30%;
        text-align:center;
    }

    .flight-search-page-flights-flight-arrival p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-arrival p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-duration{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-price-book{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flight-search-page-flights-flight-price{
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        width: 40%;
    }

    .flight-search-page-flights-flight-book{
        display: block;
        text-decoration: none;
        width:60%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        /* height: 40px; */
        border-radius: 16px;
        background-color: #f37638;
        border: 1px solid #f37638;
    }

    .flight-search-page-flights-flight-book p{
        color: white;
        margin: 0px;
        margin: 5px;
    }

    .flight-search-page-flights-flight-more-details{
        width:100%;
        width: 830px;
        border-top: 2px solid #e1e7ee;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .flight-search-page-flights-flight-more-details-button{
        width:100%;
        flex:0 0 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #2276e3;
        cursor: pointer;
    }

    .flight-search-page-flights-flight-more-details-button p{
        margin: 10px;
    }

    .flight-search-page-flights-flight-more-details-details
    {
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        display: none;
    }

    .flight-search-page-flights-flight-more-details-details-active{
        display: block;
    }

    .flight-search-page-flights-flight-more-details-details-options
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flight-search-page-flights-flight-more-details-details-options p{
        margin: 0px;
    }

    .flight-search-page-flights-flight-more-details-details-option
    {
        width:22%;
        border: 1px solid black;
        box-shadow: 2px 2px 3px #f2f2f2;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    .flight-search-page-flights-flight-more-details-details-option-active{
        background-color: orange;
    }

    .flight-search-page-flights-flight-more-details-details-details{
        padding: 20px;
        width: 100%;
    }

    .flight-search-page-flights-flight-more-details-details-details1{
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        display: none;
    }

    .flight-search-page-flights-flight-more-details-details-details1-active{
        display: flex;
    }

    .flight-search-page-flights-flight-more-details-details-details1-border{
        border: 1px solid #e1e7ee;
    }

    .flight-search-page-flights-flight-more-details-details-details-name-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width:20%;
    }

    .flight-search-page-flights-flight-more-details-details-details-name-logo img
    {
        width: 35px;
        height: 35px;
        margin: 3px;
        /* margin-bottom: 0px; */
    }
    

    .flight-search-page-flights-flight-more-details-details-details-name-logo p
    {
        margin: 3px;
        /* margin-bottom: 0px; */
        font-size: 13px;
        font-weight: lighter;
    }

    .flight-search-page-flights-flight-more-details-details-details-flightd{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    .flight-search-page-flights-flight-duration1{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-duration1 hr{
        width: 50%;
    }

    .flight-search-page-flights-flight-duration1 p:nth-of-type(2)
    {
        margin: 0px;
        font-size: 14px;
        font-weight: lighter;
    }

    .baggage-image{
        width:30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .bagagge-table
    {
        width:100%;
        border: 1px solid #e1e7ee;
        border-radius: 5px;
        border-collapse: collapse;
    }

    .bagagge-table th,td{
       border: 1px solid #e1e7ee;
       border-collapse: collapse;
       padding: 15px;
       text-align: center;
       font-size: 12px;
       font-weight: normal;
    }

    .fare-details{
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        border-collapse: collapse;
    }

    .fare-details td{
        border: 1px solid #e6e6e6;
        border-collapse: collapse;
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
     }

     .fare-details td:nth-of-type(2n+1)
     {
         text-align: left;
     }

     .fare-details td:nth-of-type(2n)
     {
         text-align: right;
     }

     .fare-details tr:nth-of-type(3) td
     {
        font-weight: bold;
     }
}

@media screen and (min-width:992px) and (max-width:1199px)
{
    .flight-search-page-desktop-searchbar{
        display: block;
    }


    .flight-search-page-desktop-searchbar{
        width: 960px;
    }

    .flight-search-page-flight-src-and-dest{
        flex:0 0 41%;
        max-width: 41%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .flight-search-page-flight-source{
        flex:0 0 46%;
        max-width: 46%;
        margin-right: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-destination{
        flex:0 0 46%;
        max-width: 46%;
        margin-left: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-check-in-out{
        flex:0 0 41%;
        max-width: 41%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .flight-search-page-flight-check-in{
        flex:0 0 46%;
        max-width: 46%;
        margin-right: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-check-out{
        flex:0 0 46%;
        max-width: 46%;
        margin-left: 5px;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-adults{
        flex:0 0 16%;
        max-width: 16%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .flight-search-page-flight-adults-counts{
        flex:0 0 96%;
        max-width: 96%;
        height: 40px;
        position: relative;
    }

    .flight-search-page-flight-submit{
        flex:0 0 16%;
        max-width: 16%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;   
    }

    .flight-search-page-flight-submit-button
    {
        flex:0 0 96%;
        max-width: 96%;
        appearance: none;
        background: none;
        height: 40px;
        position: relative;
        background-color: #175abf;
        color: #fff;
        border-width: 0px;
        margin-top: 20px;
    }

    .flight-search-page-search-bars-icon{
        color: black;
        position: absolute;
        left:6px;
        top:12px;
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .flight-search-page-search-bars-icon1{
        color: black;
        position: absolute;
        right:6px;
        top:12px;
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }

    .flight-search-page-fliter-and-flight-details{
        width: 100%;
        background-color: #e6e6e6;
    }

    .flight-search-page-fliter-and-flight-details-container{
        width: 100%;
        padding: 25px;
    }

    .flight-search-page-mobile-filter{
        display: none;
    }

    .flight-search-page-desktop-filter
    {
        flex:0 0 21%;
        max-width: 21%;
    }

    .flight-search-page-flight-details{
        flex:0 0 79%;
        max-width: 79%;
        padding: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .flight-search-page-flights-sort-options{
        width:100%;
        max-width: 720px;
        margin: 0 auto;
        background-color: white;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight-search-page-flights-sort-names{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .flight-search-page-flights-sort-names p{
        font-size: 14px;
        font-weight: lighter;
    }

    .flight-search-page-flights-sort-options-all{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-sort-option-1{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-2{
        width:40%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-3{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-4{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
    }

    .flight-search-page-flights{
        width:100%;
        max-width: 720px;
        margin: 0 auto;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .flight-search-page-flights-flight-logo-name-number{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


    .flight-search-page-flights-flight-logo img{
        width:45px;
        height: 45px;
        margin: 10px;
        margin-right: 20px;
    }

    .flight-search-page-flights-flight-name-number p{
        font-size: 14px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .flight-search-page-flights-flight-name-number p:first-of-type{
        font-weight: bold;
    }

    .flight-search-page-flights-flight-dep-dur-arr{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-flight-departure{
        width:30%;
        text-align: center;
    }

    .flight-search-page-flights-flight-departure p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-departure p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-arrival{
        width:30%;
        text-align:center;
    }

    .flight-search-page-flights-flight-arrival p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-arrival p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-duration{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-price-book{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flight-search-page-flights-flight-price{
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        width: 40%;
    }

    .flight-search-page-flights-flight-book{
        display: block;
        text-decoration: none;
        width:60%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        /* height: 40px; */
        border-radius: 16px;
        background-color: #f37638;
        border: 1px solid #f37638;
    }

    .flight-search-page-flights-flight-book p{
        color: white;
        margin: 0px;
        margin: 5px;
    }

    .flight-search-page-flights-flight-more-details{
        width:100%;
        width: 720px;
        border-top: 2px solid #e1e7ee;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .flight-search-page-flights-flight-more-details-button{
        width:100%;
        flex:0 0 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #2276e3;
    }

    .flight-search-page-flights-flight-more-details-button p{
        margin: 10px;
    }

    .flight-search-page-flights-flight-more-details-details
    {
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        display: none;
    }

    .flight-search-page-flights-flight-more-details-details-active{
        display: block;
    }

    .flight-search-page-flights-flight-more-details-details-options
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flight-search-page-flights-flight-more-details-details-options p{
        margin: 0px;
    }

    .flight-search-page-flights-flight-more-details-details-option
    {
        width:22%;
        border: 1px solid black;
        box-shadow: 2px 2px 3px #f2f2f2;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    .flight-search-page-flights-flight-more-details-details-option-active{
        background-color: orange;
    }

    .flight-search-page-flights-flight-more-details-details-details{
        padding: 20px;
        width: 100%;
    }

    .flight-search-page-flights-flight-more-details-details-details1{
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        display: none;
    }

    .flight-search-page-flights-flight-more-details-details-details1-active{
        display: flex;
    }

    .flight-search-page-flights-flight-more-details-details-details1-border{
        border: 1px solid #e2e2e2;
    }

    .flight-search-page-flights-flight-more-details-details-details-name-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width:20%;
    }

    .flight-search-page-flights-flight-more-details-details-details-name-logo img
    {
        width: 35px;
        height: 35px;
        margin: 3px;
        /* margin-bottom: 0px; */
    }
    

    .flight-search-page-flights-flight-more-details-details-details-name-logo p
    {
        margin: 3px;
        /* margin-bottom: 0px; */
        font-size: 13px;
        font-weight: lighter;
    }

    .flight-search-page-flights-flight-more-details-details-details-flightd{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    .flight-search-page-flights-flight-duration1{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-duration1 hr{
        width: 50%;
    }

    .flight-search-page-flights-flight-duration1 p:nth-of-type(2)
    {
        margin: 0px;
        font-size: 14px;
        font-weight: lighter;
    }

    .baggage-image{
        width:30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .bagagge-table
    {
        width:100%;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        border-collapse: collapse;
    }

    .bagagge-table th,td{
       border: 1px solid #e6e6e6;
       border-collapse: collapse;
       padding: 15px;
       text-align: center;
       font-size: 12px;
       font-weight: normal;
    }

    .fare-details{
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        border-collapse: collapse;
    }

    .fare-details td{
        border: 1px solid #e6e6e6;
        border-collapse: collapse;
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
     }

     .fare-details td:nth-of-type(2n+1)
     {
         text-align: left;
     }

     .fare-details td:nth-of-type(2n)
     {
         text-align: right;
     }

     .fare-details tr:nth-of-type(3) td
     {
        font-weight: bold;
     }

}

@media screen and (max-width:991px) and (min-width:768px){
    .flight-search-page-mobile-displaybar{
        display: block;
        max-width: 720px;
    }

    .flight-search-page-flight-details{
        width: 100%;
        padding: 15px;
        padding-top: 0px;
    }

    .flight-search-page-flights-sort-options{
        width:100%;
        max-width: 720px;
        margin: 0 auto;
        background-color: white;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight-search-page-flights-sort-names{
        display: none;
    }

    .flight-search-page-flights-sort-options-all{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-sort-option-1{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-2{
        width:40%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-3{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-4{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights{
        width:100%;
        max-width: 720px;
        margin: 0 auto;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .flight-search-page-flights-flight-logo-name-number{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        margin-bottom: 3px;
        padding-top: 10px;
    }

    .flight-search-page-flights-flight-logo img{
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }

    .flight-search-page-flights-flight-name-number{
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights-flight-name-number p{
        font-size: 14px;
        margin: 5px;
    }

    .flight-search-page-flights-flight-name-number p:first-of-type{
        padding-right: 10px;
        border-right: 1px solid black;
    }

    .flight-search-page-flights-flight-dep-dur-arr{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-flight-departure{
        width:30%;
        text-align: center;
    }

    .flight-search-page-flights-flight-departure p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-departure p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-arrival{
        width:30%;
        text-align:center;
    }

    .flight-search-page-flights-flight-arrival p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-arrival p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-duration{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-price-book{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flight-search-page-flights-flight-price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }

    .flight-search-page-flights-flight-book{
        display: none;
    }

    .flight-search-page-flights-flight-more-details{
        display: none;
    }

    
    .flight-search-page-backpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-backpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }

    .flight-search-page-flight-name-details{
        flex: 0 0 70%;
        max-width: 70%;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .flight-search-page-flight-srcdest-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
    }
    .flight-search-page-flight-srcdest-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 20px;
    }
    .flight-search-page-flight-srcdest-icon{
        color: black;
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .flight-search-page-flight-date-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;   
    }
    .flight-search-page-flight-date-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 15px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .flight-search-page-filterpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-filterpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    .flight-search-page-flight-date-details1{
        display: flex;
    }
    .flight-search-page-flight-date-details1 p{
        margin: 0;
    }

    .flight-search-page-desktop-filter{
        display: none;
    }

    .flight-search-page-mobile-filter{
        width: 100%;
        display: none;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .flight-search-page-mobile-filter-open{
        display: block;
    }
    
    .flight-search-page-flight-details{
        flex:0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 15px;
    }
    .flight-search-page-fliter-and-flight-details-container{
        padding:5px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width:767px) and (min-width:568px){
    .flight-search-page-mobile-displaybar{
        display: block;
        max-width: 560px;
    }

    .flight-search-page-flight-details{
        padding: 15px;
        width: 100%;
        padding-top: 0px;
    }

    .flight-search-page-flights-sort-options{
        width:100%;
        max-width: 500px;
        margin: 0 auto;
        background-color: white;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight-search-page-flights-sort-names{
        display: none;
    }

    .flight-search-page-flights-sort-options-all{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-sort-option-1{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-2{
        width:40%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-3{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-4{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights{
        width:100%;
        max-width: 500px;
        margin: 0 auto;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .flight-search-page-flights-flight-logo-name-number{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        margin-bottom: 3px;
        padding-top: 10px;
    }

    .flight-search-page-flights-flight-logo img{
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }

    .flight-search-page-flights-flight-name-number{
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights-flight-name-number p{
        font-size: 14px;
        margin: 5px;
    }

    .flight-search-page-flights-flight-name-number p:first-of-type{
        padding-right: 10px;
        border-right: 1px solid black;
    }

    .flight-search-page-flights-flight-dep-dur-arr{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-flight-departure{
        width:30%;
        text-align: center;
    }

    .flight-search-page-flights-flight-departure p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-departure p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-arrival{
        width:30%;
        text-align:center;
    }

    .flight-search-page-flights-flight-arrival p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-arrival p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-duration{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-price-book{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flight-search-page-flights-flight-price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }

    .flight-search-page-flights-flight-book{
        display: none;
    }

    .flight-search-page-flights-flight-more-details{
        display: none;
    }
    
    .flight-search-page-backpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-backpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }

    .flight-search-page-flight-name-details{
        flex: 0 0 70%;
        max-width: 70%;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .flight-search-page-flight-srcdest-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
    }
    .flight-search-page-flight-srcdest-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 20px;
    }
    .flight-search-page-flight-srcdest-icon{
        color: black;
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .flight-search-page-flight-date-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;   
    }
    .flight-search-page-flight-date-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 15px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .flight-search-page-filterpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-filterpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    .flight-search-page-flight-date-details1{
        display: flex;
    }
    .flight-search-page-flight-date-details1 p{
        margin: 0;
    }
    .flight-search-page-desktop-filter{
        display: none;
    }
    .flight-search-page-mobile-filter{
        width: 100%;
        display: none;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .flight-search-page-mobile-filter-open{
        display: block;
    }
    
    .flight-search-page-flight-details{
        flex:0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 10px;
    }

    .flight-search-page-fliter-and-flight-details-container{
        padding:0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width:575px)
{
    .flight-search-page-mobile-displaybar{
        display: block;
        max-width: 95%;
    }

    .flight-search-page-flight-details{
        width: 100%;
        padding: 15px;
        padding-top: 0px;
    }

    .flight-search-page-flights-sort-options{
        width:100%;
        max-width: 390px;
        margin: 0 auto;
        background-color: white;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight-search-page-flights-sort-names{
        display: none;
    }

    .flight-search-page-flights-sort-options-all{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-sort-option-1{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-2{
        width:40%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-3{
        width:30%;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-page-flights-sort-option-4{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights{
        width:100%;
        max-width: 390px;
        margin: 0 auto;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .flight-search-page-flights-flight-logo-name-number{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        margin-bottom: 3px;
        padding-top: 10px;
    }

    .flight-search-page-flights-flight-logo img{
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }

    .flight-search-page-flights-flight-name-number{
        display: flex;
        align-items: center;
    }

    .flight-search-page-flights-flight-name-number p{
        font-size: 14px;
        margin: 5px;
    }

    .flight-search-page-flights-flight-name-number p:first-of-type{
        padding-right: 10px;
        border-right: 1px solid black;
    }

    .flight-search-page-flights-flight-dep-dur-arr{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flight-search-page-flights-flight-departure{
        width:30%;
        text-align: center;
    }

    .flight-search-page-flights-flight-departure p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-departure p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-arrival{
        width:30%;
        text-align:center;
    }

    .flight-search-page-flights-flight-arrival p:first-of-type{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }

    .flight-search-page-flights-flight-arrival p:nth-of-type(2){
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-transform: capitalize;
    }

    .flight-search-page-flights-flight-duration{
        width:40%;
        text-align: center;
    }

    .flight-search-page-flights-flight-price-book{
        width:25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flight-search-page-flights-flight-price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }

    .flight-search-page-flights-flight-book{
        display: none;
    }

    .flight-search-page-flights-flight-more-details{
        display: none;
    }
    
    .flight-search-page-backpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-backpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }

    .flight-search-page-flight-name-details{
        flex: 0 0 70%;
        max-width: 70%;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .flight-search-page-flight-srcdest-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
    }
    .flight-search-page-flight-srcdest-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 16px;
    }
    .flight-search-page-flight-srcdest-icon{
        color: black;
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .flight-search-page-flight-date-details{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;   
    }
    .flight-search-page-flight-date-details p{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 15px;
        padding-bottom: 0px;
        text-transform: uppercase;
        font-size: 14px;
    }

    .flight-search-page-filterpage{
        flex:0 0 10%;
        max-width: 10%;
        color: black;
        text-align: center;
    }

    .flight-search-page-filterpage-icon{
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    .flight-search-page-flight-date-details1{
        display: flex;
    }
    .flight-search-page-flight-date-details1 p{
        margin: 0;
    }
    .flight-search-page-desktop-filter{
        display: none;
    }
    .flight-search-page-mobile-filter{
        width: 100%;
        display: none;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .flight-search-page-mobile-filter-open{
        display: block;
    }

    .flight-search-page-flight-details{
        flex:0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .flight-search-page-fliter-and-flight-details-container{
        padding:0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}


.flight-search-page-mobile-filter-open{
    display: block;
}

.flight-search-page-flight-days-price{
    width:100%;
}
